<% if flash[:success]  %> <!-- Checking if there is any message -->
    <div class="alert alert-success" role="alert">
    <%= flash[:success] %>
    </div>
<% end %>
<% if flash[:alert]  %>
    <div class="alert alert-danger" role="alert">
    <%= flash[:alert] %>
    </div>
<% end %>
<% if flash[:notice]  %> <!-- Checking if there is any message -->
    <div class="alert alert-primary" role="alert">
    <%= flash[:notice] %>
    </div>
<% end %>